h1{

    text-align: center;
    
    color: white;
}

@font-face {
    font-family: 'olde';
    src: url('static/OldeEnglish.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }

#titulo{

    
    font-size:150px;

    font-family:olde;
    font-weight: normal;

    text-shadow: -4px 3px 0 red, -14px 7px 0 #0a0e27;


}

#tarjeta{


    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 50% 45%;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    color: #fff;
}

#tarjetastats{

    width: 100%;

}

#sinopsis{

    text-align: center;
    color: #fff;
    font-size:20px;
    font-family: 'Roboto Mono', monospace;

}

#titulo2{

    text-shadow: -4px 3px 0 red, -14px 7px 0 #0a0e27;
    font-size: 70px;

}
#misiones{

    margin-top:5%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 10%;

    text-align: center;
    color: white;
    text-shadow: -4px 3px 0 red, -14px 7px 0 #0a0e27;


}

#team{

    margin-left: 10%;
    display: grid;
    grid-template-columns: 30% 30% 30%;



}

#alejandro{

    width: 100%;

}

body{

    background-image: url(static/fondo2.png);
    background-size: cover;
}
